/* Only comments */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: cursive;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.nav-head {
  width: 90%;
  border: 2px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 5%;
  padding: 8px 20px;
}

h2 {
  font-size: 34px;
}

.nav-head h2 {
  font-weight: bold;
  margin-left: 20px;
  padding: 0 12px;
}

.nav-item {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.nav-link {
  list-style-type: none;
  margin: 0 15px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #272a31;
  transition: 0.3s ease-in-out;
}

.nav-link:nth-child(1),
.nav-link:nth-child(2) {
  border-right: 2px solid #272a31;
  padding-right: 20px;
}

a:hover {
  color: blue;
}

#bookss {
  width: 100%;
  text-align: center;
  margin-top: 8%;
}

.cont-head h1 {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 40px;
}

#bookss h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 34px;
  font-weight: bold;
  font-family: cursive;
}

#bookList {
  text-align: center;
  width: 50%;
  border: 2px solid #000;
  margin: 20px 25%;
}

.book-card {
  display: grid;
  grid-template-columns: 2fr 5fr;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 20px;
  font-family: cursive;
  width: 100%;
}

.book-card:nth-child(odd) {
  background-color: #d3d3d3;
}

form {
  margin: 40px 0;
  width: 100%;
}

#bookForm {
  width: 50%;
  text-align: center;
  margin: 30px 23%;
  padding: 6px 0;
}

input {
  padding: 20px 0;
}

#book-title {
  width: 40%;
  height: 35px;
  border: 2px solid #000;
  color: #272a31;
  padding: 20px 12px;
  margin-top: 30px;
}

#book-author {
  width: 40%;
  height: 35px;
  border: 2px solid #000;
  color: #272a31;
  padding: 20px 12px;
}

#add {
  border: 2px solid #000;
  height: 35px;
  width: 85px;
  margin-left: 35%;
}

#add:hover {
  background-color: lightgreen;
  color: #fff;
  cursor: pointer;
}

.btn {
  width: 100px;
  align-items: flex-end;
  border: 2px solid #000;
  margin-left: 80%;
  cursor: pointer;
  background-color: lightgreen;
}

.btn:hover {
  background-color: red;
  color: #fff;
  transition: 0.5s all ease-in-out;
  box-shadow:
    0 5px 10px rgba(212, 130, 130, 0.82),
    0 5px 10px rgba(214, 140, 140, 0.82),
    0 5px 10px rgba(212, 151, 151, 0.82),
    0 5px 10px rgba(199, 91, 91, 0.82);
}

hr {
  width: 10%;
  border: 1px solid #000;
  height: 2px;
  margin: 40px 45%;
}

.contact {
  margin: 8% 0;
  width: 100%;
  text-align: center;
}

.cont-head {
  width: 50%;
  margin: 8% 25%;
  text-align: center;
}

.cont-head p {
  text-align: start;
  font-size: 20px;
  padding-left: 12px;
  margin-bottom: 10px;
  margin-left: 20%;
}

.cont-head ul {
  text-align: start;
  width: 60%;
  margin: 20px 20%;
  padding-left: 40px;
  font-size: 20px;
}

#current-date {
  float: right;
  margin-right: 5%;
}

#copyright {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 3rem;
}

.copyright-paragraph {
  border: 4px solid black;
  padding: 1.5rem;
}
